.list_group_item{
  text-decoration: none;
color: rgb(53, 53, 53);}

.list_group {
  list-style: none;
  border-left: 10px solid #FC7574;
  padding: 0;
  font-family: "Lucida Sans";
}
.list_group li {padding: 10px;}
.list_group li:nth-child(odd) {background: #E1F1FF;}
.list_group li:nth-child(even) {background: white;}

.item{
  color: rgb(53, 53, 53);}